@model PlaneTicketsApp.Domain.Plane

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plane</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Picture)" alt="Image" width="100px" />
            @*@Html.DisplayFor(model => model.Picture)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandLuggage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandLuggage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BarOnBoard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BarOnBoard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsTypeBed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsTypeBed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassangerSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassangerSeats)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
