@model PlaneTicketsApp.Domain.Flight

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-color: deepskyblue;
    }
    h1, h4, dt, dd {
        color: white;
    }
</style>
<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndingDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndingDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOffDateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOffDateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandingDateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandingDateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plane.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerTicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerTicket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountTickets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountTickets)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
